* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  max-width: 600px;
  padding: 2rem;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.form-container h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 20px;
}

.form-elements {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-elements input,
.form-elements .formBtn {
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
}

.form-elements input {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.formBtn {
  background-color: #000;
  color: #fff;
  border: 0;
  margin-left: 10px;
  cursor: pointer;
  text-transform: uppercase;
}

.formBtn:hover,
.formBtn:focus {
  background-color: rgba(0, 0, 0, 0.8);
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  max-width: 600px;
  padding: 1rem;
  margin-top: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55px;
}

.icons {
  font-size: 20px;
  cursor: pointer;
}

.success {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 80vw;
  max-width: 600px;
  border: 2px solid rgba(18, 184, 95, 0.5);
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 14px;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 80vw;
  max-width: 600px;
  border: 2px solid rgba(209, 2, 2, 0.5);
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 14px;
}

.edit {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 80vw;
  max-width: 600px;
  border: 2px solid rgba(156, 154, 4, 0.5);
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 14px;
}
